body{
    background: url("../coding.png");
    background-size: cover;
}

h2{
    color:rgb(255, 0, 0);
    margin: 100px 150px 100px 80px;
}

p{
    margin-top:50px;
    margin-bottom: 100px;
    margin-left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

h1{
    color: #00d9ff;
    border: 5px solid black;
}

h3{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 60px;
    padding-bottom: 70px;
    padding: 20px 30px 70px 60px;
    color: beige;
}

div{
    background-color: powderblue;
    height: 200px;
    max-width: 50%;
}